export OS_TENANT_NAME={{tenant.name}}
export OS_PROJECT_NAME={{tenant.name}}
export OS_USERNAME={{tenant.auth.username}}
export OS_PASSWORD={{tenant.auth.password}}
export OS_AUTH_URL={{tenant.auth.url}}
export OS_CACERT=./openstack.crt
