#!/usr/bin/env ansible-playbook
---
{% for component in components %}{% if component.placement != 'OTHER' %}{% if component.placement != 'ROUTER' %}{% if component.user != '' %}
{% if component.max == 1 %}
- name: Update ssh keys for server {{tenant.prefix}}{{component.name}}
  hosts: '{{tenant.prefix}}{{component.name}}'
  gather_facts: false
  tasks:
    - name: Update authorized keys file for server {{tenant.prefix}}{{component.name}}
      authorized_key:
        user: '{{ component.user }}'
        key: "{{ '{{ item }}' }}"
        state: present
        exclusive: True
      become: yes
      with_file:
        - ../../input/authorized_keys

{% else %}
{% for server_index in range(1,1+component.max,1) %}
- name: Update ssh keys for server {{tenant.prefix}}{{component.name}}-{{server_index}}
  hosts: '{{tenant.prefix}}{{component.name}}-{{server_index}}'
  gather_facts: false
  tasks:
    - name: Update authorized keys file for server {{tenant.prefix}}{{component.name}}-{{server_index}}
      authorized_key:
        user: '{{ component.user }}'
        key: "{{ '{{ item }}' }}"
        state: present
        exclusive: True
      become: yes
      with_file:
        - ../../input/authorized_keys

{% endfor %}
{% endif %}
{% endif %}{% endif %}{% endif %}{% endfor %}
