#componentform {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
  padding:  8px;

  overflow-y: scroll;
}

#componentform .header {
  font-size:   20px;
  font-weight: bold;
}

#componentform .subheader {
  font-size:   14px;
  font-weight: bolder;
  padding-top: 24px;
  padding-left: 8px;
}

#componentform .line {
  padding-top: 8px;
  padding-left: 24px;
}

#componentform .line label {
  display:     inline-block;
  width:       64px;
  font-weight: bold;
}

#componentform .line label.top {
  width:       200px;
}


#componentform .line input {
  display:     inline-block;
  width:       200px;
}

#componentform .line input.col3 {
  width:       600px;
}

#componentform .line select {
  display:     inline-block;
  width:       200px;
}

#componentform textarea.userdata {
  box-sizing:     border-box;
  width:          800px;
  height:         11em;
  vertical-align: top;
  margin:         0px;
}
