#deltaform {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
  padding:  0px;

  overflow-y: scroll;
}

/*----------------------------------------------------------------------------*/

#deltaform .header {
  display:       flex;
  border-bottom: 1px solid lightgrey;
  font-weight:   bold;
}

#deltaform .header .current {
  flex:         1;
  border-right: 1px solid lightgrey;
  padding-left: 8px;
}

#deltaform .header .target {
  flex:         1;
  padding-left: 8px;
}

#deltaform .header .target.update {
  background-color: lightblue;
}

/*----------------------------------------------------------------------------*/


#deltaform .title {
  border-bottom:    1px solid lightgrey;
  font-size:        12px;
  font-weight:      bold;
  background-color: lightgrey;
  display:          flex;
}

#deltaform .title .current {
  flex:         1;
  border-right: 1px solid white;
  padding-left: 8px;
}

#deltaform .title .target {
  flex:         1;
  padding-left: 8px;
}

/*----------------------------------------------------------------------------*/

#deltaform .subtitle {
  border-bottom:    1px solid lightgrey;
  font-size:        12px;
  font-weight:      bold;
  background-color: white;
  display:          flex;
}

#deltaform .subtitle .current {
  flex:         1;
  border-right: 1px solid lightgrey;
  padding-left: 16px;
}

#deltaform .subtitle .target {
  flex:         1;
  padding-left: 16px;
}

/*----------------------------------------------------------------------------*/

#deltaform .flavors {
}

#deltaform .flavor {
  display:       flex;
  border-bottom: 1px solid lightgrey;
}

#deltaform .flavor .current {
  flex:         1;
  border-right: 1px solid lightgrey;
  padding-left: 24px;
}

#deltaform .flavor .target {
  flex:         1;
  padding-left: 24px;
}

#deltaform .flavor .current.delete {background-color: #f44;}
#deltaform .flavor .target.create  {background-color: lightgreen;}
#deltaform .flavor .target.update  {background-color: lightblue;}

/*----------------------------------------------------------------------------*/

#deltaform .images {
}

#deltaform .image {
  display:       flex;
  border-bottom: 1px solid lightgrey;
}

#deltaform .image .current {
  flex:         1;
  border-right: 1px solid lightgrey;
  padding-left: 24px;
}

#deltaform .image .target {
  flex:         1;
  padding-left: 24px;
}

#deltaform .image .current.delete {background-color: #f44;}
#deltaform .image .target.create  {background-color: lightgreen;}
#deltaform .image .target.update  {background-color: lightblue;}

/*----------------------------------------------------------------------------*/

#deltaform .networks {
}

#deltaform .network {
  display:       flex;
  border-bottom: 1px solid lightgrey;
}

#deltaform .network .current {
  flex:         1;
  border-right: 1px solid lightgrey;
  padding-left: 24px;
}

#deltaform .network .target {
  flex:         1;
  padding-left: 24px;
}

#deltaform .network .current.delete {background-color: #f44;}
#deltaform .network .target.create  {background-color: lightgreen;}
#deltaform .network .target.update  {background-color: lightblue;}

/*----------------------------------------------------------------------------*/

#deltaform .components {
}

#deltaform .component {
  display:       flex;
  border-bottom: 1px solid lightgrey;
}

#deltaform .component .current {
  flex:         1;
  border-right: 1px solid lightgrey;
  padding-left: 24px;
}

#deltaform .component .target {
  flex:         1;
  padding-left: 24px;
}

#deltaform .component .current.delete {background-color: #f44;}
#deltaform .component .target.create  {background-color: lightgreen;}
#deltaform .component .target.update  {background-color: lightblue;}
