#monitoring {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
  padding:  0px;

  overflow-y: scroll;
}

/*----------------------------------------------------------------------------*/

#monitoring .vnf {
  position:      absolute;
  left:          8px;
  top:           8px;
  height:        18px;
  width:         200px;
  line-height:   18px;
  text-overflow: ellipsis;
  overflow-y:    hidden;
  font-size:     16px;
  font-weight:   bolder;
  white-space:   nowrap;
}

#monitoring .tenant {
  position:      absolute;
  left:          8px;
  top:           26px;
  height:        14px;
  width:         200px;
  line-height:   14px;
  text-overflow: ellipsis;
  overflow-y:    hidden;
  font-size:     12px;
  white-space:   nowrap;
}

#monitoring .version {
  position:      absolute;
  left:          8px;
  top:           40px;
  height:        12px;
  width:         200px;
  line-height:   14px;
  text-overflow: ellipsis;
  overflow-y:    hidden;
  font-size:     10px;
  white-space:   nowrap;
}

#monitoring .date {
  position:      absolute;
  left:          8px;
  top:           52px;
  height:        12px;
  width:         200px;
  line-height:   14px;
  text-overflow: ellipsis;
  overflow-y:    hidden;
  font-size:     10px;
  white-space:   nowrap;
}

#monitoring .indicator {
  position:         absolute;
  right:            16px;
  top:              16px;
  font-size:        10px;
  padding:          8px;
  border-radius:    16px;
  white-space:      nowrap;
  background-color: orange;
  vertical-align:   middle;
  text-align:       center;
  display:          none;
  animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { background-color: orange;  color: black; }
   50% { background-color: #FF4136; color: white; }
  100% { background-color: orange;  color: black; }
}

/*----------------------------------------------------------------------------*/

#monitoring .network {
  position:         absolute;
  border-left:      1px solid #808080;
}

#monitoring .network.dummy {
  opacity: 0;
}

#monitoring .network.dummy:hover {
  opacity: 0.2;
}

#monitoring .network.network0  {border-left-color: #8080ff}
#monitoring .network.network1  {border-left-color: #80ff80}
#monitoring .network.network2  {border-left-color: #ff8080}
#monitoring .network.network3  {border-left-color: #C0C000}
#monitoring .network.network4  {border-left-color: #ff80ff}
#monitoring .network.network5  {border-left-color: #80ffff}
#monitoring .network.network6  {border-left-color: #c080ff}
#monitoring .network.network7  {border-left-color: #ffc080}
#monitoring .network.network8  {border-left-color: #80ffc0}
#monitoring .network.network9  {border-left-color: #80c0ff}
#monitoring .network.network10 {border-left-color: #ff80c0}
#monitoring .network.network11 {border-left-color: #c0ff80}

#monitoring .network input, #monitoring .network .label {
  position:         absolute;
  left:             -20px;
  top:              -16px;
  width:            40px;
  background-color: transparent;
  border:           none;
  line-height:      12px;
  text-align:       center;
  overflow:         hidden;
  text-overflow:    ellipsis;
  white-space:      nowrap;
}

#monitoring .network .icon {
  position:         absolute;
  left:             -20px;
  top:              -32px;
  width:            40px;
  background-color: transparent;
  border:           none;
  line-height:      12px;
  text-align:       center;
  overflow:         hidden;
  text-overflow:    ellipsis;
  white-space:      nowrap;
}


/*----------------------------------------------------------------------------*/

#monitoring .port {
  position:         absolute;
  vertical-align:   middle;
  text-align:       center;
  left:             -20px;
  width:            40px;
}

/*----------------------------------------------------------------------------*/

#monitoring .component {
  position:                  absolute;
  border-top-left-radius:    16px;
  border-bottom-left-radius: 16px;
}

#monitoring .component .zone {
  position:                  absolute;
  left:                      0px;
  top:                       0px;
  width:                     32px;
  height:                    32px;
  line-height:               32px;
  border-top-left-radius:    16px;
  border-bottom-left-radius: 16px;
  vertical-align:            middle;
  text-align:                center;
}

#monitoring .component .zone input {
  position:         absolute;
  left:             0px;
  right:            0px;
  width:            32px;
  height:           32px;
  line-height:      32px;
  background-color: transparent;
  border:           none;
  vertical-align:   middle;
  text-align:       center;
  text-align-last:  center;
  color:            black;
}

#monitoring .component .zone:hover {
  background-color: orange;
  color:            blue;
}

#monitoring .component.dummy {
  opacity: 0;
}

#monitoring .component.dummy:hover {
  opacity: 0.2;
}

#monitoring .component .zone-O { background-color: #AAA }
#monitoring .component .zone-E { background-color: #0C0 }
#monitoring .component .zone-I { background-color: #88F }
#monitoring .component .zone-M { background-color: #F44 }
#monitoring .component .zone-R { background-color: #D0D }

#monitoring .component .name {
  position:         absolute;
  left:             32px;
  right:            16px;
  top:              0px;
  height:           18px;
  text-overflow:    ellipsis;
  overflow:         hidden;
  white-space:      nowrap;
  line-height:      18px;
  padding-left:     4px;
  padding-right:    4px;
  text-align:       right;
}

#monitoring .component .name input {
  background-color: inherit;
  border: none;
  font-size:        14px;
  width:            160px;
  text-overflow:    ellipsis;
}

#monitoring .component.dummy .name {
  font-size:        14px;
}

#monitoring .component .icon {
  position:         absolute;
  right:            2px;
  top:              0px;
  height:          16px;
  line-height:     16px;
  font-size:       14px;
  vertical-align:    middle;
}
