#tenant_layout {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
  padding:  8px;

  overflow-y: scroll;
}

/*----------------------------------------------------------------------------*/

#tenant_layout .vnf {
  position:      absolute;
  left:          8px;
  top:           8px;
  height:        18px;
  width:         200px;
  line-height:   18px;
  text-overflow: ellipsis;
  overflow-y:    hidden;
  font-size:     16px;
  font-weight:   bolder;
  white-space:   nowrap;
}

#tenant_layout .tenant {
  position:      absolute;
  left:          8px;
  top:           26px;
  height:        14px;
  width:         200px;
  line-height:   14px;
  text-overflow: ellipsis;
  overflow-y:    hidden;
  font-size:     12px;
  white-space:   nowrap;
}

#tenant_layout .version {
  position:      absolute;
  left:          8px;
  top:           40px;
  height:        12px;
  width:         200px;
  line-height:   14px;
  text-overflow: ellipsis;
  overflow-y:    hidden;
  font-size:     10px;
  white-space:   nowrap;
}

#tenant_layout .date {
  position:      absolute;
  left:          8px;
  top:           52px;
  height:        12px;
  width:         200px;
  line-height:   14px;
  text-overflow: ellipsis;
  overflow-y:    hidden;
  font-size:     10px;
  white-space:   nowrap;
}

/*----------------------------------------------------------------------------*/

#tenant_layout .network {
  position:         absolute;
  border-left:      1px solid #808080;
}

#tenant_layout .network.dummy {
  opacity: 0;
}

#tenant_layout .network.dummy:hover {
  opacity: 0.2;
}

#tenant_layout .network.network0  {border-left-color: #8080ff}
#tenant_layout .network.network1  {border-left-color: #80ff80}
#tenant_layout .network.network2  {border-left-color: #ff8080}
#tenant_layout .network.network3  {border-left-color: #C0C000}
#tenant_layout .network.network4  {border-left-color: #ff80ff}
#tenant_layout .network.network5  {border-left-color: #80ffff}
#tenant_layout .network.network6  {border-left-color: #c080ff}
#tenant_layout .network.network7  {border-left-color: #ffc080}
#tenant_layout .network.network8  {border-left-color: #80ffc0}
#tenant_layout .network.network9  {border-left-color: #80c0ff}
#tenant_layout .network.network10 {border-left-color: #ff80c0}
#tenant_layout .network.network11 {border-left-color: #c0ff80}

#tenant_layout .network input, #tenant_layout .network .label {
  position:         absolute;
  left:             -28px;
  top:              -16px;
  width:            52px;
  background-color: transparent;
  border:           none;
  line-height:      12px;
  text-align:       center;
  overflow:         hidden;
  text-overflow:    ellipsis;
  white-space:      nowrap;
}

#tenant_layout .network .icon {
  position:         absolute;
  left:             -20px;
  top:              -32px;
  width:            40px;
  background-color: transparent;
  border:           none;
  line-height:      12px;
  text-align:       center;
  overflow:         hidden;
  text-overflow:    ellipsis;
  white-space:      nowrap;
}

/*----------------------------------------------------------------------------*/

#tenant_layout .interface {
  position:         absolute;
  background-color: #d0d0d0;
}

#tenant_layout .interface.network0  {background-color: #8080ff}
#tenant_layout .interface.network1  {background-color: #80ff80}
#tenant_layout .interface.network2  {background-color: #ff8080}
#tenant_layout .interface.network3  {background-color: #C0C000}
#tenant_layout .interface.network4  {background-color: #ff80ff}
#tenant_layout .interface.network5  {background-color: #80ffff}
#tenant_layout .interface.network6  {background-color: #c080ff}
#tenant_layout .interface.network7  {background-color: #ffc080}
#tenant_layout .interface.network8  {background-color: #80ffc0}
#tenant_layout .interface.network9  {background-color: #80c0ff}
#tenant_layout .interface.network10 {background-color: #ff80c0}
#tenant_layout .interface.network11 {background-color: #c0ff80}

#tenant_layout .interface .serverport {
  position:         absolute;
  left:             -2px;
  top:              -2px;
  width:            5px;
  height:           5px;
  border-radius:    2.5px;
  background-color: inherit;
}

#tenant_layout .interface .switchport {
  position:         absolute;
  right:            -2px;
  top:              -2px;
  width:            5px;
  height:           5px;
  border-radius:    2.5px;
  background-color: inherit;
}

/*----------------------------------------------------------------------------*/

#tenant_layout .component {
  position:                  absolute;
  background-color:          #d0d0d0;
  border-top-left-radius:    16px;
  border-bottom-left-radius: 16px;
}

#tenant_layout .component .zone {
  position:                  absolute;
  left:                      0px;
  top:                       0px;
  width:                     32px;
  height:                    32px;
  line-height:               32px;
  border-top-left-radius:    16px;
  border-bottom-left-radius: 16px;
  vertical-align:            middle;
  text-align:                center;
}

#tenant_layout .component .zone select {
  position:         absolute;
  left:             0px;
  right:            0px;
  width:            32px;
  height:           32px;
  line-height:      32px;
  background-color: transparent;
  border:           none;
  vertical-align:   middle;
  text-align:       center;
  text-align-last:  center;
  color:            black;
}

#tenant_layout .component .zone:hover {
  background-color: orange;
  color:            blue;
}

#tenant_layout .component.dummy {
  opacity: 0;
}

#tenant_layout .component.dummy:hover {
  opacity: 0.2;
}

#tenant_layout .component .zone-O { background-color: #AAA }
#tenant_layout .component .zone-E { background-color: #0C0 }
#tenant_layout .component .zone-I { background-color: #88F }
#tenant_layout .component .zone-M { background-color: #F44 }
#tenant_layout .component .zone-R { background-color: #D0D }

#tenant_layout .component .name {
  position:         absolute;
  left:             32px;
  right:            0px;
  top:              0px;
  height:           18px;
  text-overflow:    ellipsis;
  overflow:         hidden;
  white-space:      nowrap;
  line-height:      18px;
  padding-left:     4px;
  padding-right:    4px;
}

#tenant_layout .component .name input {
  background-color: inherit;
  border: none;
  font-size:        14px;
  width:            140px;
  text-overflow:    ellipsis;
}

#tenant_layout .component.dummy .name {
  font-size:        14px;
}

#tenant_layout .component .sizing {
  position:         absolute;
  left:             32px;
  right:            0px;
  top:              18px;
  height:           14px;
  text-overflow:    ellipsis;
  overflow:         hidden;
  white-space:      nowrap;
  line-height:      14px;
  padding-left:     4px;
  padding-right:    4px;
  font-size:        12px;
}

#tenant_layout .component .icon {
  position:         absolute;
  right:            4px;
  top:              0px;
  height:          32px;
  line-height:     32px;
  font-size:       16px;
  vertical-align:    middle;
}

/*----------------------------------------------------------------------------*/

#tenantform {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
  padding:  8px;
}

#tenantform .header {
  font-size:   20px;
  font-weight: bold;
}

#tenantform .subheader {
  font-size:   14px;
  font-weight: bolder;
  padding-top: 24px;
  padding-left: 8px;
}

#tenantform hr {
  border: 0;
  border-top: 1px dashed #c0c0c0;
  margin-top:    4px;
  margin-bottom: 0px;
}

#tenantform .line {
  padding-top: 8px;
  padding-left: 4px;
}

#tenantform .line label {
  display:        inline-block;
  width:          80px;
  font-weight:    bold;
  vertical-align: top;
}

#tenantform .line label.top {
  width:       200px;
}

#tenantform .line input {
  display:     inline-block;
  width:       200px;
}

#tenantform .line textarea {
  display:       inline-block;
  width:         200px;
  height:        5rem;
  font-family:   sans-serif;
  font-size:     8px;
  resize:        none;
  overflow-wrap: normal;
}

#tenantform .line select {
  display:          inline-block;
  width:            200px;
  background-color: white;
}
