#importform {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
  padding:  8px;

  overflow-y: scroll;
}

#importform .header {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  height:   32px;
  padding:  8px;

  line-height: 32px;
  font-size:   20px;
  font-weight: bold;
}

#importform .header .button {
  float:            right;
  font-size:        12px;
  line-height:      32px;
  border:           none;
  vertical-align:   middle;
  text-align:       center;
  padding-right:    32px;
}

#importform .line {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      32px;
  bottom:   0px;
  padding:  8px;

  overflow:  scroll;
}

#importform .line textarea {
  width:     100%;
  height:    100%;
  font-size: 8px;
  border:    1px solid lightgrey;
}

#importform #files {
  display: none;
}
